*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
}

html{
    height: 100%;
}

body{
    background-image: linear-gradient(to top, rgb(55, 55, 18) 0%, rgb(0, 0, 0) 70%); 
    height: 100%;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari et Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.logo{
    height: 20%;
    text-align: center;
}

.regle{
    height: 40%;
    width: 100%;
    font-size: 20px;
    
}

ul{
    height: 100%;
    width: 90%;
    padding-left: 10%;
    
}

li{
    height: 17%;
    color: gold;
    text-align: center;
    border-bottom: 1px solid gold;
    border-top: 1px solid gold;
}

.bouton{
    height: 15%;
    text-align: center;
}

button{

    background-color: rgba(218, 165, 32, 0.7);
    border: 5px solid white;
    color: white;
    height: 70%;
    width: 70%;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    
    margin-top: 4%;
}

.text-button{
    align-items: center;
    text-align: center;
    font-size: 300%;
}
